<ngx-spinner class="cusSpinner">
    <div class="loader-wrapper">
        <div class="truck-wrapper">
        <div class="truck">
            <div class="truck-container"></div>
            <div class="glases"></div>
            <div class="bonet"></div>
            <div class="base"></div>
            <div class="base-aux"></div>
            <div class="wheel-back"></div>
            <div class="wheel-front"></div>
            <div class="smoke"></div>
        </div>
        </div>
    </div>
</ngx-spinner>
<section class="cus-e-commerce-mail">
    <div class="container-fluid">
        <div class="row p-0">
            <div class="col-sm-12 p-0">
                <app-e-commerce-header></app-e-commerce-header>
            </div>
        </div>
        <div class="row p-0">
            <div class="col-sm-2 p-0">
                <app-sidemenu></app-sidemenu>
            </div>
            <div class="col-sm-10 p-0">
                <div class="cus-main-section p-3">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="page-title-box">
                                <h4 class="page-title">{{ 'seller.add_unit.heading' | translate }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="product-cus-box cus-box-with-radio cus-from-stapper">
                        <mat-horizontal-stepper #stepper linear >
                            <mat-step [stepControl]="formOne">
                                <form [formGroup]="formOne">
                                    <ng-template matStepLabel>VIN Details</ng-template>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <mat-label>VIN ({{ 'seller.add_unit.vin' | translate }}) </mat-label>
                                            <mat-form-field>
                                                <input type="text" formControlName="vin" matInput maxlength="17"
                                                    [(ngModel)]="vincode" (focusout)="getVinCode(vincode)"
                                                    (ngModelChange)="removeData($event)"
                                                    [ngClass]="(isReadonlyVin == false)?'notChangeBG':'changeBG'" />
                                                <mat-error *ngIf="formOne.get('vin').hasError('required')"> Please enter
                                                    vehicle identification number </mat-error>
                                                <mat-error *ngIf="formOne.get('vin').hasError('pattern')"> Incorrect VIN
                                                    number </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-12 text-right mt-4">
                                            <a routerLink="/layout/e-commerce/create-product"
                                            class="btn e-comm-btn">{{ 'buttons.back' | translate }}</a>
                                            <button matStepperNext class="btn e-comm-btn ml-3">{{ 'buttons.Next' | translate }}</button>
                                        </div>
                                    </div>
                                </form>
                            </mat-step>
                            <mat-step [stepControl]="formTwo">
                                <form [formGroup]="formTwo">
                                    <ng-template matStepLabel>Vehicle Details</ng-template>
                                    <div class="row">
                                        <div class="col-sm-12 cus-str-field">
                                            <p>{{ 'seller.brand.form.note' | translate }} <span>*</span></p>
                                        </div>
                                        <div class="col-sm-6">
                                          <mat-label>{{ 'seller.add_unit.Brand' | translate }}<span>*</span> </mat-label>
                                          <mat-form-field class="example-full-width" *ngIf="!formTwo.value.brandName">
                                              <mat-select formControlName="brandId" (valueChange)="getselectval($event)">
                                                  <mat-option *ngFor="let list of brandList" [value]="list._id"
                                                      (click)=getModelList(list._id) >
                                                      {{ list.brand }}
                                                  </mat-option>
                                              </mat-select>
                                              <mat-error *ngIf="formTwo.get('brandId').hasError('required')">Please select brand </mat-error>
                                          </mat-form-field>
                                          <mat-form-field *ngIf="formTwo.value.brandName">
                                              <input type="text" formControlName="brandName" matInput
                                                  onKeyPress="if(this.value.length==7) return false;"
                                                  [ngClass]="(isReadonlyVin == false)?'notChangeBG':'changeBG'"
                                                  [readonly]="isReadonlyVin" [disabled]="isReadonlyVin" />
                                          </mat-form-field>
                                      </div>
                                      <div class="col-sm-6">
                                          <mat-label>{{ 'seller.add_unit.Model' | translate }}<span>*</span> </mat-label>
                                          <mat-form-field class="example-full-width" *ngIf="!formTwo.value.modelName">
                                              <mat-select formControlName="modelId">
                                                  <mat-option *ngFor="let list of modelList" [value]="list._id">
                                                      {{ list.title }}
                                                  </mat-option>
                                              </mat-select>
                                              <mat-error *ngIf="formTwo.get('modelId').hasError('required')">Please select model </mat-error>
                                          </mat-form-field>
                                          <mat-form-field *ngIf="formTwo.value.modelName">
                                              <input type="text" formControlName="modelName" matInput
                                                  onKeyPress="if(this.value.length==7) return false;"
                                                  [ngClass]="(isReadonlyVin == false)?'notChangeBG':'changeBG'"
                                                  [readonly]="isReadonlyVin" [disabled]="isReadonlyVin" />
                                          </mat-form-field>
                                      </div>
                                        <div class="col-sm-6">
                                            <mat-label>{{ 'seller.add_unit.Year_Of_Production' | translate }}<span>*</span> </mat-label>
                                            <mat-form-field class="example-full-width" *ngIf="!isReadonlyVin == true">
                                                <mat-select formControlName="productionYear" required
                                                    [ngClass]="(isReadonlyProYear == false)?'notChangeBG':'changeBG'"
                                                    [readonly]="isReadonlyProYear" [disabled]="isReadonlyProYear">
                                                    <mat-option *ngFor="let list of timeDuration" [value]="list">{{ list
                                                        }}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="formTwo.get('productionYear').hasError('required')">
                                                    Please select year of production </mat-error>
                                            </mat-form-field>
                                            <mat-form-field *ngIf="!isReadonlyVin == false">
                                                <input type="text" formControlName="productionYear" matInput
                                                    onKeyPress="if(this.value.length==7) return false;"
                                                    [ngClass]="(isReadonlyProYear == false)?'notChangeBG':'changeBG'"
                                                    [readonly]="isReadonlyProYear" [disabled]="isReadonlyProYear" />
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-label>{{ 'seller.add_unit.Engine_Make' | translate }}<span>*</span> </mat-label>
                                            <mat-form-field>
                                                <input type="text" formControlName="engineBrand" matInput required
                                                    maxlength="15"
                                                    [ngClass]="(isReadonly == false)?'notChangeBG':'changeBG'"
                                                    [readonly]="isReadonly" [disabled]="isReadonly" />
                                                <mat-error *ngIf="formTwo.get('engineBrand').hasError('required')">
                                                    Please enter engine make </mat-error>
                                                <mat-error *ngIf="formTwo.get('engineBrand').hasError('pattern')">
                                                    Incorrect engine make </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-label>{{ 'seller.add_unit.Fuel_Type' | translate }}<span>*</span> </mat-label>
                                            <mat-form-field class="example-full-width" *ngIf="!isReadonlyVin == true">
                                                <mat-select formControlName="fuelType" required
                                                    [ngClass]="(isReadonlyFuelType == false)?'notChangeBG':'changeBG'"
                                                    [readonly]="isReadonlyFuelType" [disabled]="isReadonlyFuelType">
                                                    <mat-option *ngFor="let list of fuelTypeList" [value]="list.name">{{
                                                        list.name }}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="formTwo.get('fuelType').hasError('required')">Please
                                                    select fuel type </mat-error>
                                            </mat-form-field>
                                            <mat-form-field *ngIf="!isReadonlyVin == false">
                                                <input type="text" formControlName="fuelType" matInput
                                                    onKeyPress="if(this.value.length==7) return false;"
                                                    [ngClass]="(isReadonlyFuelType == false)?'notChangeBG':'changeBG'"
                                                    [readonly]="isReadonlyFuelType" [disabled]="isReadonlyFuelType" />
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-label>{{ 'seller.add_unit.Brakes' | translate }}<span>*</span> </mat-label>
                                            <mat-form-field class="example-full-width" *ngIf="!isReadonlyVin == true">
                                                <mat-select formControlName="breaks" required
                                                    [ngClass]="(isReadonlyBreaks == false)?'notChangeBG':'changeBG'"
                                                    [readonly]="isReadonlyBreaks" [disabled]="isReadonlyBreaks">
                                                    <mat-option *ngFor="let list of breaksList" [value]="list.name">{{
                                                        list.name }}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="formTwo.get('breaks').hasError('required')">Please
                                                    select brakes </mat-error>
                                            </mat-form-field>
                                            <mat-form-field *ngIf="!isReadonlyVin == false">
                                                <input type="text" formControlName="breaks" matInput
                                                    onKeyPress="if(this.value.length==7) return false;"
                                                    [ngClass]="(isReadonlyBreaks == false)?'notChangeBG':'changeBG'"
                                                    [readonly]="isReadonlyBreaks" [disabled]="isReadonlyBreaks" />
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-label>{{ 'seller.add_unit.Engine_Power_Output' | translate }}<span>*</span> </mat-label>
                                            <mat-form-field>
                                                <input type="number" formControlName="enginePoweroutput" matInput
                                                    required onKeyPress="if(this.value.length==4) return false;"
                                                    [ngClass]="(isReadonlyEnginePowerOutput == false)?'notChangeBG':'changeBG'"
                                                    [readonly]="isReadonlyEnginePowerOutput"
                                                    [disabled]="isReadonlyEnginePowerOutput" />
                                                <span class="cus-size-typ">Hp</span>
                                                <mat-error
                                                    *ngIf="formTwo.get('enginePoweroutput').hasError('required')">
                                                    Please enter engine power output </mat-error>
                                                <mat-error *ngIf="formTwo.get('enginePoweroutput').hasError('pattern')">
                                                    Please enter number only</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-label>{{ 'seller.add_unit.Engine_Displacement' | translate }}<span>*</span> </mat-label>
                                            <mat-form-field>
                                                <input type="number" formControlName="engineDisplacement" matInput
                                                    required onKeyPress="if(this.value.length==4) return false;"
                                                    [ngClass]="(isReadonlyEngineDisplacement == false)?'notChangeBG':'changeBG'"
                                                    [readonly]="isReadonlyEngineDisplacement"
                                                    [disabled]="isReadonlyEngineDisplacement" />
                                                <span class="cus-size-typ">Cc</span>
                                                <mat-error
                                                    *ngIf="formTwo.get('engineDisplacement').hasError('required')">
                                                    Please enter engine displacement </mat-error>
                                                <mat-error
                                                    *ngIf="formTwo.get('engineDisplacement').hasError('pattern')">
                                                    Please enter number only</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-12 text-right mt-4">
                                            <button mat-button matStepperPrevious class="btn e-comm-btn">{{'buttons.back' | translate}}</button>
                                            <button matStepperNext class="btn e-comm-btn ml-3" >{{'buttons.Next' | translate}}</button>
                                        </div>
                                    </div>
                                </form>
                            </mat-step>
                            <mat-step [stepControl]="formThree">
                                <form [formGroup]="formThree">
                                    <ng-template matStepLabel>Listing details</ng-template>
                                    <div class="row">
                                        <div class="col-sm-12 cus-str-field">
                                            <p>{{ 'seller.brand.form.note' | translate }} <span>*</span></p>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-label>{{ 'seller.add_unit.Product_Name' | translate }} <span>*</span> </mat-label>
                                            <mat-form-field>
                                                <input type="text" formControlName="productName" matInput required
                                                    maxlength="30" />
                                                <mat-error *ngIf="formThree.get('productName').hasError('required')">
                                                    Please enter product name </mat-error>
                                                <mat-error *ngIf="formThree.get('productName').hasError('pattern')">
                                                  Please enter valid Name </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-label>{{ 'seller.add_unit.Sub_Category' | translate }} <span>*</span></mat-label>
                                            <mat-form-field class="example-full-width">
                                                <mat-select formControlName="subCategoryId" required>
                                                    <mat-option *ngFor="let list of subCategoryList" [value]="list._id">
                                                        {{ list.category_name }}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="formThree.get('subCategoryId').hasError('required')">
                                                    Please enter sub category</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-label>{{ 'seller.add_unit.Listing_Type' | translate }}<span>*</span></mat-label>
                                            <mat-form-field class="example-full-width">
                                                <mat-select formControlName="productType">
                                                    <mat-option *ngFor="let list of typeList" [value]="list.name">
                                                        {{ list.name }}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="formThree.get('productType').hasError('required')">
                                                    Please select listing type </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-label>{{ 'seller.add_unit.Condition' | translate }} <span>*</span></mat-label>
                                            <mat-form-field class="example-full-width">
                                                <mat-select formControlName="condition" required
                                                    (ngModelChange)="changedCondition($event)">
                                                    <mat-option *ngFor="let list of conditionList" [value]="list.name">
                                                        {{ list.name }}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="formThree.get('condition').hasError('required')">
                                                    Please select condition </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6" *ngIf="kilometersDriven">
                                            <mat-label>{{ 'seller.add_unit.Miles_Driven' | translate }}</mat-label>
                                            <mat-form-field>
                                                <input type="number" formControlName="noOfMiles" matInput
                                                    onKeyPress="if(this.value.length==6) return false;" />
                                                <span class="cus-size-typ">Mil</span>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6" *ngIf="kilometersDriven">
                                            <mat-label>{{ 'seller.add_unit.Engine_Hours' | translate }} </mat-label>
                                            <mat-form-field>
                                                <input type="number" formControlName="engineHours" matInput
                                                    onKeyPress="if(this.value.length==7) return false;" />
                                                <span class="cus-size-typ">Hrs</span>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-label>{{ 'seller.add_unit.Location' | translate }} <span>*</span></mat-label>
                                            <mat-form-field>
                                                <input type="text" formControlName="location" matInput required
                                                    #search />
                                                <mat-error *ngIf="formThree.get('location').hasError('required')">
                                                    Please select location </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-label>{{ 'seller.add_unit.Select_Currency' | translate }}<span>*</span></mat-label>
                                            <mat-form-field>
                                                <mat-select formControlName="currency"
                                                    (ngModelChange)="changeCurrency($event)">
                                                    <mat-option *ngFor="let list of currency"
                                                        value="{{ list.currency }}">
                                                        {{ list.currency }}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="formThree.get('currency').hasError('required')">Please
                                                    select currency </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-label>{{ 'seller.add_unit.Price' | translate }} <span>*</span> </mat-label>
                                            <mat-form-field>
                                                <input type="number" formControlName="price" matInput required
                                                    onKeyPress="if(this.value.length==6) return false;" />
                                                <mat-error *ngIf="formThree.get('price').hasError('required')"> Please
                                                    enter price </mat-error>
                                                <mat-error *ngIf="formThree.get('price').hasError('pattern')"> Please
                                                    enter number only</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-12 pro-description">
                                            <mat-label class="mb-3 d-flex">{{ 'seller.add_unit.Description' | translate }}  <span>*</span> </mat-label>
                                            <ckeditor [editor]="editor" formControlName="description" required
                                                class="cus-job-diss"></ckeditor>
                                            <mat-error
                                                *ngIf="formThree.get('description').hasError('required') && formThree.get('description').touched">
                                                Please enter description </mat-error>
                                        </div>
                                        <div class="col-sm-12 text-right mt-4">
                                            <button mat-button matStepperPrevious class="btn e-comm-btn">{{'buttons.back' | translate}}</button>
                                            <button mat-button (click)="nextData()" class="btn e-comm-btn ml-2">{{'buttons.Next' | translate}}</button>
                                        </div>
                                    </div>

                                </form>
                            </mat-step>
                            <mat-step [stepControl]="formFour">
                                <form [formGroup]="formFour">
                                    <ng-template matStepLabel>Other details</ng-template>
                                    <div class="row">
                                        <div class="col-sm-12 cus-str-field">
                                            <p>{{ 'seller.brand.form.note' | translate }} <span>*</span></p>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-label>{{ 'seller.add_unit.Color' | translate }}</mat-label>
                                            <mat-form-field>
                                                <mat-select formControlName="color" multiple (ngModelChange)="selectColor($event)">
                                                    <mat-option *ngFor="let list of colorList" [value]="list.colorCode">
                                                        <span class="cus-color-code"
                                                            [ngStyle]="{'background-color':list.colorCode}"
                                                            style="width: 10px;height: 10px;"></span>{{list.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-label>{{ 'seller.add_unit.Width' | translate }} </mat-label>
                                            <mat-form-field>
                                                <input type="number" formControlName="width" matInput
                                                    onKeyPress="if(this.value.length==6) return false;" />
                                                <span class="cus-size-typ">{{truckParameter == 'USD' ? 'In' : 'M'
                                                    }}</span>
                                                <mat-error *ngIf="formFour.get('width').hasError('required')"> Please
                                                    enter width </mat-error>
                                                <mat-error *ngIf="formFour.get('width').hasError('pattern')"> Please
                                                    enter number only</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-label>{{ 'seller.add_unit.Height' | translate }} </mat-label>
                                            <mat-form-field>
                                                <input type="number" formControlName="height" matInput
                                                    onKeyPress="if(this.value.length==6) return false;" />
                                                <span class="cus-size-typ">{{truckParameter == 'USD' ? 'In' : 'M'
                                                    }}</span>
                                                <mat-error *ngIf="formFour.get('height').hasError('required')"> Please
                                                    enter height </mat-error>
                                                <mat-error *ngIf="formFour.get('height').hasError('pattern')"> Please
                                                    enter number only</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-label>{{ 'seller.add_unit.Mileage' | translate }} <span>*</span> </mat-label>
                                            <mat-form-field>
                                                <input type="number" formControlName="mileage" matInput required
                                                    onKeyPress="if(this.value.length==6) return false;" />
                                                <span class="cus-size-typ">{{truckParameter == 'USD' ? 'Mi' : 'KM'
                                                    }}</span>
                                                <mat-error *ngIf="formFour.get('mileage').hasError('required')"> Please
                                                    enter mileage </mat-error>
                                                <mat-error *ngIf="formFour.get('mileage').hasError('pattern')"> Please
                                                    enter number only </mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-sm-6">
                                            <mat-label>{{ 'seller.add_unit.Suspension' | translate }}  <span>*</span></mat-label>
                                            <mat-form-field class="example-full-width">
                                                <mat-select formControlName="suspension" required>
                                                    <mat-option *ngFor="let list of suspensionList" [value]="list.name">
                                                        {{ list.name }}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="formFour.get('suspension').hasError('required')">
                                                    Please select suspension </mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-sm-6">
                                            <mat-label>{{ 'seller.add_unit.Transmission_Type' | translate }}<span>*</span></mat-label>
                                            <mat-form-field class="example-full-width">
                                                <mat-select formControlName="transmissionType" required>
                                                    <mat-option *ngFor="let list of transmissionTypeList"
                                                        [value]="list.name">{{ list.name }}</mat-option>
                                                </mat-select>
                                                <mat-error
                                                    *ngIf="formFour.get('transmissionType').hasError('required')">
                                                    Please select transmission type </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-label>{{ 'seller.add_unit.Rear_Axle_Weight' | translate }}<span>*</span> </mat-label>
                                            <mat-form-field>
                                                <input type="number" formControlName="loadCapacity" matInput required
                                                    onKeyPress="if(this.value.length==6) return false;" />
                                                <span class="cus-size-typ">{{truckParameter == 'USD' ? 'Lbs' : 'KG'
                                                    }}</span>
                                                <mat-error *ngIf="formFour.get('loadCapacity').hasError('required')">
                                                    Please enter rear axle weight </mat-error>
                                                <mat-error *ngIf="formFour.get('loadCapacity').hasError('pattern')">
                                                    Please enter number only</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-sm-6">
                                            <mat-label>{{ 'seller.add_unit.Wheelbase' | translate }} <span>*</span> </mat-label>
                                            <mat-form-field>
                                                <input type="number" formControlName="wheelBase" matInput required
                                                    onKeyPress="if(this.value.length==6) return false;" />
                                                <span class="cus-size-typ">{{truckParameter == 'USD' ? 'In' : 'M'
                                                    }}</span>
                                                <mat-error *ngIf="formFour.get('wheelBase').hasError('required')">
                                                    Please enter wheelbase </mat-error>
                                                <mat-error *ngIf="formFour.get('wheelBase').hasError('pattern')"> Please
                                                    enter number only</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-label>{{ 'seller.add_unit.Net_Weight' | translate }}<span>*</span> </mat-label>
                                            <mat-form-field>
                                                <input type="number" formControlName="netWeight" matInput required
                                                    onKeyPress="if(this.value.length==6) return false;" />
                                                <span class="cus-size-typ">{{truckParameter == 'USD' ? 'Lbs' : 'KG'
                                                    }}</span>
                                                <mat-error *ngIf="formFour.get('netWeight').hasError('required')">
                                                    Please enter net weight </mat-error>
                                                <mat-error *ngIf="formFour.get('netWeight').hasError('pattern')"> Please
                                                    enter number only</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-label>{{ 'seller.add_unit.Front_Axle_Weight' | translate }}<span>*</span> </mat-label>
                                            <mat-form-field>
                                                <input type="number" formControlName="grossWeight" matInput required
                                                    onKeyPress="if(this.value.length==6) return false;" />
                                                <span class="cus-size-typ">{{truckParameter == 'USD' ? 'Lbs' : 'KG'
                                                    }}</span>
                                                <mat-error *ngIf="formFour.get('grossWeight').hasError('required')">
                                                    Please enter front axle weight</mat-error>
                                                <mat-error *ngIf="formFour.get('grossWeight').hasError('pattern')">
                                                    Please enter number only</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-label>{{ 'seller.add_unit.Fuel_Capacity' | translate }}<span>*</span> </mat-label>
                                            <mat-form-field>
                                                <input type="number" formControlName="fuelCapacity" matInput required
                                                    onKeyPress="if(this.value.length==6) return false;" />
                                                <span class="cus-size-typ">{{truckParameter == 'USD' ? 'Gal' : 'L'
                                                    }}</span>
                                                <mat-error *ngIf="formFour.get('fuelCapacity').hasError('required')">
                                                    Please enter fuel capacity </mat-error>
                                                <mat-error *ngIf="formFour.get('fuelCapacity').hasError('pattern')">
                                                    Please enter number only</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-12 text-right">
                                            <button mat-button matStepperPrevious class="btn e-comm-btn">{{'buttons.back' | translate}}</button>
                                            <button mat-button matStepperNext class="btn e-comm-btn ml-2">{{'buttons.Next' | translate}}</button>
                                        </div>

                                    </div>
                                </form>
                            </mat-step>
                            <mat-step [stepControl]="formFive">
                                <form [formGroup]="formFive">
                                    <ng-template matStepLabel>Upload Image</ng-template>
                                    <div class="row">
                                        <div class="col-sm-12 custom-dropzone p-0">
                                            <div ngx-dropzone [accept]="'image/*'" (change)="fileChangeEvent($event)">
                                                <ngx-dropzone-label>
                                                    <div class="cus-img-upload">
                                                        <div class="upload-icon"><i class="fas fa-cloud-upload"></i>
                                                        </div>
                                                        <h2>{{ 'seller.add_unit.Drag_and_drop' | translate }}</h2>
                                                    </div>
                                                </ngx-dropzone-label>
                                            </div>
                                            <div
                                                class="d-flex custom-dropzone-photo align-items-center justify-content-start">
                                                <div *ngFor="let item of productImages; let i = index" class="col-sm-2">
                                                    <div class="cus-close-crose" (click)="onRemove(item, i)" ><i class="far fa-times-circle"></i></div>
                                                    <span>
                                                        <img [src]="productImgPath+item" class="img-fluid"/>
                                                    </span>
                                                </div>
                                                <div *ngFor="let item of ulpoadedFiles; let i = index" class="col-sm-2">
                                                    <div class="cus-close-crose" (click)="onRemoveLocal(item, i)"><i
                                                            class="far fa-times-circle"></i></div>
                                                    <span (click)="cropImage(item.imgId)">
                                                        <img [src]="item.imgBase64" class="img-fluid" />
                                                    </span>
                                                </div>
                                            </div>
                                         
                                        </div>
                                        <div class="col-sm-12 text-right mt-3">
                                            <button mat-button matStepperPrevious class="btn e-comm-btn">{{'buttons.back' | translate }}</button>
                                            <button class="btn e-comm-btn ml-2" (click)="onSelect($event)"
                                                *ngIf="isMultiUploadImages">{{ 'seller.Upload_Images' | translate }}</button>
                                            <button mat-button (click)="onSubmit()" class="btn e-comm-btn ml-2"
                                                *ngIf="isUploadImages">{{'buttons.submit' | translate }}</button>
                                        </div>
                                    </div>
                                </form>

                            </mat-step>
                        </mat-horizontal-stepper>
                    </div>
                </div>

                <section class="col-sm-12">
                    <div>
                        <!--popup modal-->
                        <div class="backdrop" [ngStyle]="{'display':display}"></div>
                        <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Image Cropper</h4>
                                        <button type="button" class="close" aria-label="Close"
                                            (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body" style="height: 450px; overflow-y: auto;">
                                        <div class="image_cropper">
                                            <image-cropper [imageChangedEvent]="imageChangedEvent" [cropperMinHeight]="500"
                                                [cropperMinWidth]="500" [cropperMaxHeight]="500" [cropperMaxWidth]="500"
                                                [hideResizeSquares]="true" [maintainAspectRatio]="true"
                                                [aspectRatio]="4 / 3" format="png" (imageCropped)="imageCropped($event)"
                                                (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                                                (loadImageFailed)="loadImageFailed()">
                                            </image-cropper>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn e-comm-btn"
                                            (click)="SaveCropedImage()">Save</button>
                                        <button type="button" class="btn e-comm-btn ml-2"
                                            (click)="onCloseHandled()">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
