<ngx-spinner class="cusSpinner">
    <div class="loader-wrapper">
        <div class="truck-wrapper">
            <div class="truck">
                <div class="truck-container"></div>
                <div class="glases"></div>
                <div class="bonet"></div>
                <div class="base"></div>
                <div class="base-aux"></div>
                <div class="wheel-back"></div>
                <div class="wheel-front"></div>
                <div class="smoke"></div>
            </div>
        </div>
    </div>
</ngx-spinner>
<div>
    <div class="row">
        <div class="col-sm-12 ">
            <div class='p-0 leave-text'>{{ 'home_trip_planner.Are_you_sure_to_mark_trip_as_Active' | translate }}</div>
        </div>
    </div>
</div>
<div mat-dialog-actions class="mt-2 mb-2"> <button mat-button class="btn common-btn" [mat-dialog-close]="true"
        (click)="startTrip()">{{ 'home_trip_planner.start_Trip' | translate }}</button> <button mat-button class="btn common-btn"
        (click)="onNoClick()">{{ 'buttons.cancel' | translate }}</button> </div>