<ngx-spinner class="cusSpinner">
    <div class="loader-wrapper">
        <div class="truck-wrapper">
            <div class="truck">
                <div class="truck-container"></div>
                <div class="glases"></div>
                <div class="bonet"></div>
                <div class="base"></div>
                <div class="base-aux"></div>
                <div class="wheel-back"></div>
                <div class="wheel-front"></div>
                <div class="smoke"></div>
            </div>
        </div>
    </div>
</ngx-spinner>
<div>
    <div class="row">
        <div class="col-sm-12 ">
            <div class='p-0 leave-text'>{{'leave_company' | translate}}</div><mat-form-field> <mat-select
                    [formControl]='reason'> <mat-option *ngFor='let reasons of reasonsList'
                        [value]="reasons.reasonTitle">{{reasons.reasonTitle | titlecase}}</mat-option> </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions class="mt-2 mb-2"> <button mat-button class="btn common-btn"
        (click)="onNoClick()">{{'buttons.cancel' | translate}}</button> <button mat-button class="btn common-btn"
        [disabled]='!reason.value' [mat-dialog-close]="true" cdkFocusInitial (click)='leaveCompany()'>{{'buttons.leave'
        | translate}}</button></div>