<ngx-spinner class="cusSpinner">
  <div class="loader-wrapper">
    <div class="gaurimata-wrapper">
      <div class="gaurimata">
        <div class="gaurimata-container"></div>
        <div class="glases"></div>
        <div class="bonet"></div>
        <div class="base"></div>
        <div class="base-aux"></div>
        <div class="wheel-back"></div>
        <div class="wheel-front"></div>
        <div class="smoke"></div>
      </div>
    </div>
  </div>
</ngx-spinner>
<div style="height:600px;">
  <div class=""><button type="button" class="close cus-close-post" (click)="onNoClick()">&times;</button></div>
  <div class="row" style="height:550px;">
    <div class="col-6">

      <div class="row">
        <div class="col-2">
          <div class="pro-round-img">
            <a routerLink="/layout/social-media/connection-profileview/{{ allData.userData?._id }}"
              *ngIf="allData.userData?._id !== loggedInUser">
              <div>
                <img *ngIf="!allData.userData?.image" src="assets/gaurimata-banne-profile.png" class="img-fluid" />
                <img *ngIf="allData.userData?.image" src="{{ postProfile + allData.userData.image }}"
                  class="img-fluid" />
              </div>
            </a>
            <a routerLink="/layout/myaccount/my-profile" *ngIf="allData.userData?._id == loggedInUser">
              <div>

                <img *ngIf="!allData.userData?.image" src="assets/gaurimata-banne-profile.png" class="img-fluid" />
                <img *ngIf="allData.userData?.image" src="{{ postProfile + allData.userData.image }}"
                  class="img-fluid" />
              </div>
            </a>
          </div>
        </div>
        <div class="col-10" style="padding: 10px;">
          <h3 class="post_name">{{ allData.userData?.personName }}</h3>
          <span class="posted_time">{{ allData.postedAt }}</span>
        </div>
      </div>
      <div class="col-12" *ngIf="allData.media.length>0">

        <p class="m-b-0 post_caption" *ngIf="!visible" innerHtml="{{postText | slice:0:100}}"></p>

        <p class="m-b-0 post_caption" *ngIf="visible" innerHtml="{{postText}}"></p>

        <span *ngIf="postText.length>100">...</span>
        <a *ngIf="postText.length>100 && !visible" href="javascript:;" (click)="visible=true">show more</a>
        <a *ngIf="postText.length>100 && visible" href="javascript:;" (click)="visible=false">show less</a>
      </div>

      <div class="col-12" *ngIf="allData.media.length==0">
        <p class="m-b-0 post_caption" innerHtml="{{postText}}"></p>
      </div>
      <owl-carousel-o [options]="customOptions" class="cus-event-slider remove_scrool" *ngIf="allData.media.length>0">
        <ng-template carouselSlide *ngFor="let img of slider">
          <div *ngIf="img.type == 'IMAGE'" class="cus_img_gallery"><img src="{{ postImage_path+img.name }}" alt="{{ img.name }}" />
          </div>
          <div *ngIf="img.type == 'VIDEO'"><video [src]="[postVideo_path+img.name]" alt="" height="500px" width="100%"
              controls></video></div>
        </ng-template>
      </owl-carousel-o>

      <!-- for shared post -->

      <div *ngIf="allData.type=='SHARED'" class="cus-share-post">
        <div class="cus-share-post-by">
          <div class="row cus-hed-post">
            <div class="col-sm-1">
              <div class="pro-round-img">
                <div>
                  <img *ngIf="!allData.orignalPostData.userData?.image" src="assets/gaurimata-banne-profile.png"
                    class="profilephoto" />
                  <img *ngIf="allData.orignalPostData.userData?.image"
                    src="{{ postProfile + allData.orignalPostData.userData?.image }}" class="img-fluid" />
                </div>
              </div>
            </div>
            <div class="col-sm-6 post-listing ml-2 pt-3">
              <h3>{{ allData.orignalPostData.userData?.personName }}</h3>
            </div>
            <div class="col-sm-5 text-right"></div>
          </div>
          <div class="row cus-body-post">
            <div class="col-sm-12">
              <p class="m-b-0 post_caption" id="captionshr" innerHtml="{{ allData.orignalPostData.caption }}"></p>
              <span class="text-primary" id="moreshr" *ngIf="allData.orignalPostData.caption.length > 5"
                (click)="readMoreshr('MORE')" style="cursor: pointer; float: right">...{{ 'see_more' | translate
                }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 cus_height_post">
              <div class="image_gallery">
                <div *ngFor="let img of allData.orignalPostData.media" [ngClass]="{
              post_img_one: allData.orignalPostData.media?.length == 1,
              post_img_two: allData.orignalPostData.media?.length == 2,
              post_img_three: allData.orignalPostData.media?.length == 3,
              post_img_four: allData.orignalPostData.media?.length == 4,
              post_img_five: allData.orignalPostData.media?.length == 5
            }" style="cursor: pointer">
                  <video *ngIf="img.type == 'VIDEO'" src="{{ postVideo_path + img.name }}" height="100%" width="100%"
                    controls></video>
                  <img loading="lazy" *ngIf="img.type == 'IMAGE'" src="{{postImage_path+img.name }}" alt="kkj" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- for JOIN_GROUP  -->
      <div class="p-2" *ngIf="allData.type=='JOIN_GROUP'">
        <div class="d-flex p-2 cus_border_network">
          <div>
            <img *ngIf="allData.groupData.groupImage" src="{{ banner_img_path }}{{ allData.groupData?.groupImage }}"
              style="max-width: 85px; max-height: 85px" />
            <img *ngIf="!allData.groupData.groupImage" src="assets/network_group.png" style="max-width: 85px" />
          </div>
          <div class="d-flex justify-content-center align-items-center ml-2">
            <div>
              <a routerLink="/layout/social-media/group-view/{{ allData.groupData._id }}">
                <h5 class="text-capitalize m-0 p-0" style="font-size: 18px">{{ allData.groupData?.name }}</h5>
                <p class="m-0 p-0">{{ allData.groupData?.totalMembers }} members</p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- for Like And Comments -->

      <div class="col-sm-12">
        <div style="padding: 5px;">
        
        </div>
        
      </div>

    </div>
    <!-- comment section -->
    <div class="col-6">
      <div class="col-sm-12">

      </div>

    </div>

  </div>

</div>