.e-comm-btn-ans {
  background: #075aa4 !important;
  color: #fff !important;
  border-radius: 35px !important;
  box-shadow: none !important;
  -webkit-filter: none !important;
  filter: none !important;
  padding: 0.5rem 0.7rem !important;
}
