<section class="blog mob-top-spc">
    <div class="container mt-4">
        <div class="col-sm-12 text-center mb-2 pt-2 pb-2">
            <h2 class="text-uppercase">Terms & Conditions</h2> <span class="cus-tit-bor"></span>
        </div>
    </div>
</section>
<section class="blogpost">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>The following are the terms and conditions for use of the [Mytruck.one (hereafter “TONE”)] Trucking
                    services (“Service”). Please read them carefully before using the Service. By clicking the “Complete
                    Registration” BUTTON OR THE “Purchase Map” button and completing the registration process, you (the
                    terms “you” or “yours” includes the person or entity that is registered with the Service as well as
                    any third parties accessing the Service on your behalf) are stating that you agree to be bound by
                    all of these terms and conditions of the service (“Agreement”). The Service is offered to you
                    conditioned on your acceptance without modification of the terms, conditions, and notices contained
                    herein. If you are using the Service on behalf of your employer or any other entity (“Company”),
                    your acceptance of and agreement to the terms and conditions of this Agreement will be deemed to be
                    an agreement between your company and TONE and you represent and warrant that you have authority to
                    bind your Company to the terms and conditions of this Agreement.</p>
                <ul>
                    <li>
                        <h3>I. ACCOUNT</h3>
                        <p>To register for the Service and create an account, you must complete the registration process
                            by providing TONE with complete and accurate information as prompted by the registration
                            form, including email address and password. You shall protect your password and take full
                            responsibility for your own- and third-party activities that occur under your account. You
                            agree to notify TONE immediately of any unauthorized use of your account or any other breach
                            of security.</p>
                        <h4>Payments and Refunds Terms</h4>
                        <p>The Service is billed in advance on a monthly or annual basis, or is billed in monthly
                            instalments, or is billed per map, and is non-refundable. There will be no refunds or
                            credits for partial months or partial years of service, or refunds for months unused with an
                            open account. No exceptions will be made. For any upgrade or downgrade in plan level, the
                            credit card which you provide will automatically be charged the new rate on your next
                            billing cycle, plus or minus the prorated amount based on the remaining number of days of
                            the current billing cycle Downgrading your Service may cause the loss of content, features,
                            or capacity of your Account. TONE does not accept any liability for such loss. Monthly
                            installment payments for an annual subscription to the Service are billed each month.
                            Instalment's payments declined by your credit card account will be retried three (3) times.
                            If the instalment payment is not successfully billed after the third retry, your
                            subscription to the Service will be canceled for non-payment. Installment payments made to
                            your subscription that was canceled for non-payment are non-refundable, and shall not apply
                            toward credit. Sales taxes, or other taxes, customs, import/export charges, or similar
                            governmental charges are not included in the price of the Service. You are responsible for
                            paying any such taxes or charges imposed on your purchases, including, but not limited to,
                            sales, use or value-added taxes.</p>
                        <h4>Account cancelation</h4>
                        <p>The only accepted method for cancelling your account is via the TONE website account
                            settings. An email or phone request to cancel your account will not be a valid form of
                            cancelation. Accounts are cancellable at any time by accessing your TONE account by going
                            to your account settings and using the cancelation link. If you cancel the Service prior to
                            the end of the month, your cancelation will take effect immediately and you will not be
                            charged again.</p>
                    </li>
                    <li>
                        <h3>II. LICENSE</h3>
                        <p>Subject to the terms and conditions of this Agreement, TONE hereby grants you a revocable,
                            non-exclusive, non-transferable license to remotely access the Service to trucking
                            facilities on the TONE website located at mytuck.one. Except as expressly set forth herein,
                            you shall not (I) use, reproduce, modify or create derivative works of the Service, or (ii)
                            transfer, lease, lend, sublicense, use for timesharing or service bureau purposes, resell or
                            otherwise distribute or allow third party access to all or any portion of the TONE Service,
                            including, but not limited to, by sharing your access username and/or password.</p>
                    </li>
                    <li>
                        <h3>III. FEES</h3>
                        <p>s a condition of your use of and access to the Service, you agree to pay all applicable fees
                            as described on the TONE website. TONE may change the fees for our Service at any time and
                            from time to time effective immediately upon posting on our website, provided that, no fee
                            change will be effective as to Service orders accepted by TONE prior to the effective date
                            of such change. Unless otherwise stated, all fees are stated in U.S. Dollars. All fees are
                            payable [monthly/quarterly/semi-annually/annually] in advance. We reserve the right to
                            deactivate your access to the Service for failure to pay applicable fees. If you provide us
                            with a credit card that expires during the term of this Agreement, we reserve the right to
                            charge any renewal card issued to you as a replacement.</p>
                    </li>
                    <li>
                        <h3>IV. PROPRIETARY RIGHTS; RESTRICTIONS ON USE</h3>
                        <p>Except for the limited licenses expressly granted herein, TONE expressly reserves all right,
                            title and interest in and to the content of the TONE website, and all analytics and other
                            software and technology used by TONE in provision of the Service, including, without
                            limitation, any derivatives, improvements, enhancements or extensions of the Service
                            conceived, reduced to practice or otherwise developed on or on behalf of TONE, all of which
                            are valuable assets of TONE, and any copyright, patent or trademark or other intellectual
                            property right, or federal or state right, pertaining thereto. You shall not: (I) use, or
                            allow the use of, the Service, except pursuant to the limited rights expressly granted in
                            this Agreement; (ii) use the Service in any manner that is inconsistent with user
                            documentation, if any, supplied to you by TONE or inconsistent with TONE’s standard security
                            procedures, if any, accessible through your user interface; (iii) attempt to reverse
                            engineer, hack into, or compromise any aspect of the Service, or attempt to access data of
                            any other customer of TONE; (iv) remove, obscure or alter any legal notices, including
                            notices of intellectual property rights appearing in or on any materials delivered to you by
                            TONE; or (v) use, post, tranToneit or introduce any device, software or routine which
                            interferes or attempts to interfere with the operation of the Service.</p>
                    </li>
                    <li>
                        <h3>V. INDEMNIFICATION</h3>
                        <p>You agree to indemnify, hold harmless and defend TONE, at your expense, against any and all
                            third party claims, actions, proceedings, and suits brought against TONE or any of its
                            officers, directors, employees, agents or affiliates, and all related liabilities, damages,
                            settlements, penalties, fines, costs or expenses (including, without limitation, reasonable
                            attorneys’ fees) incurred by TONE or any of its officers, directors, employees, agents or
                            affiliates, arising out of or relating to (i) your breach of any term or condition of this
                            Agreement, (ii) your use of the Service. In such a case, TONE will provide you with written
                            notice of such claim, suit or action. You shall cooperate as fully as reasonably required in
                            the defense of any claim. TONE reserves the right, at its own expense, to assume the
                            exclusive defense and control of any matter subject to indemnification by you.</p>
                    </li>
                    <li>
                        <h3>VI. REPRESENTATIONS AND WARRANTIES; DISCLAIMERS</h3>
                        <p>The information, reports and services included in or available through the Service may
                            include inaccuracies or typographical errors. Changes are periodically added to the
                            information herein. TONE and/or its respective suppliers may make improvements and/or
                            changes in the Service at any time, without obligation to notify any person or entity of
                            such changes. TONE does not represent or warrant that (i) the Service will be error-free or
                            accessible at all times, (ii) defects will be corrected, (iii) the Service or the server
                            that makes it available, are free of viruses or other harmful component, or (iv) the use or
                            the results of the use of the Service or the materials made available as part of the Service
                            will be correct, accurate, timely, or otherwise reliable. The service is [provided “as is”
                            and there are no warranties, claims or representations made by TONE either express, implied,
                            or statutory, with respect to the service, the documentation and reports, including
                            warranties of quality, performance, non-infringement, merchantability, or fitness for a
                            particular purpose, nor are there any warranties created by course of dealing, course of
                            performance, or trade usage. TONE does not warrant that the service will meet your needs or
                            be free from errors, or that the operation of the service will be uninterrupted. the
                            foregoing exclusions and disclaimers are an essential part of this agreement and formed the
                            basis for determining the price charged for the service. some states do not allow exclusion
                            of an implied warranty, so this disclaimer may not apply to you.</p>
                    </li>
                    <li>
                        <h3>VII. SERVICE LEVELS</h3>
                        <p>TONE does not guarantee, and shall have no liability for, any Service down time (I) caused by
                            outages to any public Internet backbones, networks or servers, (ii) caused by any failures
                            of your equipment, systems or local access services, (iii) for previously scheduled
                            maintenance, or (iv) relating to events beyond TONE’s control such as strikes, riots,
                            insurrection, fires, floods, explosions, war, governmental action, labor conditions,
                            earthquakes, natural disasters, or interruptions in Internet services to an area where TONE
                            or your servers are located or co-located.</p>
                    </li>
                    <li>
                        <h3>VIII. LIMITATIONS OF LIABILITY</h3>
                        <p>TONE will not be liable to you or any third party for any indirect, special, punitive,
                            consequential (including, without limitation, lost profits or lost data collected through
                            the service), or incidental damages, whether based on a claim or action of contract,
                            warranty, negligence, strict liability, or other tort, breach of any statutory duty,
                            indemnity or contribution, or otherwise, even if TONE has been advised of the possibility of
                            such damages. the exclusion contained in this paragraph shall apply regardless of the
                            failure of the exclusive remedy provided in the following paragraph. some states do not
                            allow the limitation or exclusion of liability for incidental or consequential damages, so
                            the limitations or exclusions in this and the foregoing paragraph may not apply to you.
                            TONE’s cumulative liability to you or any other party for any loss or damages resulting from
                            any claims, demands, or actions arising out of or relating to this agreement shall not
                            exceed the aggregate fees paid to TONE for use of the service.</p>
                    </li>
                    <li>
                        <h3>IX. TERM AND TERMINATION</h3>
                        <p>Either party may terminate this Agreement at any ti me and for any reason. In addition, this
                            Agreement will terminate immediately, without notice, if you fail to comply with the terms
                            of this Agreement. Upon any termination of this agreement, (i) TONE will cease providing the
                            Service; (ii) any outstanding balance payable by you to TONE will become immediately due and
                            payable; (iii) you will not be entitled to any refunds of any usage fees or any other fees.
                        </p>
                    </li>
                    <li>
                        <h3>X. MODIFICATION TO TERMS OF SERVICE AND OTHER POLICIES</h3>
                        <p>MODIFICATION TO TERMS OF SERVICE AND OTHER POLICIES TONE reserves the right to change or
                            modify any of the terms and conditions contained in this Agreement or any policy governing
                            the Service, at any time, by posting the new agreement to the TONE website located at
                            http://www.mytruck.one/ (Or such other URL as TONE may provide). You are responsible for
                            regularly reviewing the policy. No amendment to or modification of this Agreement will be
                            binding unless (i) in writing and signed by a duly authorized representative of TONE, (ii)
                            you accept updated terms online, or (iii) you continue to use the Service after TONE has
                            posted updates to the Agreement or to any policy governing the Service.</p>
                    </li>
                    <li>
                        <h3>XI. COMPLIANCE</h3>
                        <p>COMPLIANCE You will not use the Service in any way or for any purpose that would violate, or
                            would have the effect of violating, any applicable laws, rules or regulations or any rights
                            of any third parties, including without limitation, any law or right regarding any
                            copyright, patent, trademark, trade secret, music, image, or other proprietary or property
                            right, false advertising, unfair competition, defamation, invasion of privacy or rights of
                            celebrity.</p>
                    </li>
                    <li>
                        <h3>XII. ARBITRATION AND MEDIATION</h3>
                        <p>The parties agree to mediate any dispute or claim arising out of or relating to this
                            Agreement (a “Dispute”) within a reasonable period of time, but in no event more than thirty
                            (30) calendar days after a written request for mediation has been given by any party to
                            another, and before resorting to arbitration or court action. The mediation shall be
                            submitted to Judicial Arbitration and Mediation Services, Inc. (“JAMS”), located in Arizona,
                            and conducted in Maricopa County. The mediator shall be selected by mutual agreement of the
                            parties, or if the parties are unable to agree after 10 days of notice to the other party,
                            then the mediator will be appointed by JAMS. All mediation fees shall be paid equally by the
                            parties. If, as to any Dispute, a party commences an arbitration proceeding or court action
                            without first attempting to resolve the Dispute through mediation, or refuses to mediate the
                            Dispute after a written request to do so has been given, then that party shall not be
                            entitled to recover attorneys’ fees and costs, even if such fees and costs would otherwise
                            be available to that party in any such proceeding or action. Any Dispute which is not
                            settled through mediation under shall be decided by binding arbitration conducted in
                            Maricopa County, Arizona as provided in this Section. A party may, by a summary proceeding,
                            bring an action in court to compel arbitration of any Dispute in accordance herewith.</p>
                        <p>The arbitration shall be conducted in accordance with the commercial arbitration rules of
                            JAMS (the “Rules”), except to the extent modified herein. In the event of any conflict, the
                            terms of this Section shall supersede and control the Rules. The arbitrator selected
                            pursuant to this Section shall have sole power to rule on whether or not there is a conflict
                            between this Agreement and the Rules. The arbitrator shall be selected by mutual agreement
                            of the parties, or if the parties are unable to agree after 30 days after submission of the
                            claim to arbitration, then the arbitrator will be appointed by JAMS. The arbitrator shall
                            have expertise in the legal issues which are the subject of the Dispute. No arbitrator shall
                            have represented any party to the Dispute in any matter. The arbitrator may grant any remedy
                            or relief he or she deems just and equitable, and which is not inconsistent with any other
                            provision of this Agreement relating to remedies and relief, and may also grant such
                            ancillary relief as is necessary to make such award effective. The arbitrator shall have the
                            power to impose sanctions and to take such other actions as the arbitrator deems necessary
                            to the same extent a judge could pursuant to applicable law. Pending the selection of the
                            arbitrator by mutual agreement of the parties upon request of a party, JAMS may appoint an
                            arbitrator to consider and rule upon an ex parte application for immediate preliminary
                            relief. The award may be immediately entered in any court having jurisdiction thereof, even
                            though the decision on the underlying Dispute may still be pending. The arbitrator may, upon
                            request of a party and after notice to and an opportunity to be heard by the opposing party,
                            issue a superseding order to modify or reverse preliminary relief ordered by an arbitrator
                            appointed by the JAMS, or may himself or herself order preliminary relief pending a full
                            hearing on the merits of the underlying Dispute. Any superseding order of preliminary relief
                            may be immediately entered in any court having jurisdiction thereof, even though the
                            decision on the underlying Dispute may still be pending. To the extent possible, the
                            arbitrator shall render an award within thirty (30) calendar days after the Dispute has been
                            finally submitted</p>
                    </li>
                    <li>
                        <h3>XIII. MISCELLANEOUS</h3>
                        <p>TONE shall be excused from performance hereunder to the extent that performance is prevented,
                            delayed or obstructed by causes beyond its reasonable control. This Agreement (including any
                            amendment agreed upon by the parties in writing) represents the complete agreement between
                            us concerning its subject matter, and supersedes all prior agreements and representations
                            between the parties. If any provision of this Agreement is held to be unenforceable for any
                            reason, such provision shall be reformed to the extent necessary to make it enforceable to
                            the maximum extent permissible so as to affect the intent of the parties, and the remainder
                            of this Agreement shall continue in full force and effect. This Agreement shall be governed
                            by and construed under the laws of the state of Arizona without reference to its conflict of
                            law principles. In the event of any conflicts between foreign law, rules, and regulations,
                            and Arizona law, rules, and regulations, Arizona law, rules and regulations shall prevail
                            and govern. The United Nations Convention on Contracts for the International Sale of Goods
                            and the Uniform Computer Information Transactions Act shall not apply to this Agreement. The
                            Software is controlled by U.S. Export Regulations, and it may be not be exported to or used
                            by embargoed countries or individuals. A waiver of any default is not a waiver of any
                            subsequent default. You may not assign or otherwise transfer any of your rights hereunto
                            without TONE’s prior written consent, and any such attempt is void. The relationship between
                            TONE and you is not one of a legal partnership relationship, but is one of independent
                            contractors. This Agreement shall be binding upon and inure to the benefit of the respective
                            successors and assigns of the parties hereto.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>