
<ngx-spinner
  bdColor="rgba(0,0,0,0.3)"
  size="medium"
  color="#439041"
  type="ball-spin-clockwise"
  [fullScreen]="true">
</ngx-spinner>
<section class="cus-home-qequest">
    <div class="container mt-4">
        <section class="news-container">
            <div class="col-sm-12 text-right mb-2 pt-2 pb-2">
                <a routerLink="/pages/our-services" class="common-btn">
                   {{'buttons.back' | translate}}
                </a>
            </div>

            <div class="news-item">
                <div class="news-text">
                    <h2 [innerHtml]="serviceData.name"></h2>
                    <div class="news-meta">
                        <small>Created by: {{ serviceData.firstName[0] }} | {{ serviceData.created_at | date:'dd MMM yyyy'
                            }}</small>
                    </div>
                    <div class="news-image  text-center">
                        <img src="{{service_image_url+serviceData.image}}" [alt]="serviceData.name">
                    </div>
                    <p [innerHtml]="serviceData.description">
                    </p>
                </div>
            </div>
        </section>
    </div>
</section>