<section class="banner">
    <div id="demo" class="carousel slide" data-ride="carousel" *ngIf="sliderList?.length">
        <ul class="carousel-indicators">
            <li data-target="#demo" *ngFor="let slide of sliderList; let i=index" data-slide-to="i"
                [ngClass]="{active: i===0}"></li>
        </ul>
        <div class="carousel-inner">
            <div *ngFor="let slide of sliderList; let i=index" class="carousel-item" [ngClass]="{active: i===0}"> <a
                    routerLink="/{{slide.routeLink}}">
                    <img loading="lazy" src="{{slider_url + slide.url}}" alt="{{slide.alt}}" title="{{slide.title}}"
                        width="1100" height="500" class="example" /> </a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev" *ngIf="sliderArrow">
            <i class="fa fa-angle-left" style="font-size:5rem; color: #000;"></i>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next" *ngIf="sliderArrow"> <i
                class="fa fa-angle-right" style="font-size:5rem; color: #000;"></i>
        </a>
    </div>
</section>
<section class="cus-home-qequest">
    <div class="container pt-0 mt-5">
        <div class="row">
            <div class="col-md-6 Service">
                <h2 class="h2 text-dark" [innerHtml]="'homeContent.our_presence' | translate"> </h2>
                <p class="pops">{{'homeContent.content_1' | translate}}</p>
                <p class="pops">{{'homeContent.content_2' | translate}}</p>
                <p class="pops">{{'homeContent.content_2' | translate}}</p>
                <div class="row pt-5">   
                </div>
                <div class="row pt-5 ">  
                </div>
            </div>
            <div class="col-md-6 text-right"> <img loading="lazy" src="assets/Indiamap.png" class="w-50" alt=""> </div>
        </div>
    </div>
</section>
<section class="up-coming">
   <div class="container p-t-2 p-b-2" > <!-- *ngIf="blogListTotalCount > 3"-->
        <div class="col-sm-12 text-center m-b-2">
            <h2 class="text-uppercase font-weight-bolder"> {{'homeContent.Our_Products' | translate}} </h2> <span class="cus-tit-bor"></span>
        </div>
        <div class="col-sm-12 cus-slt-cat p-4 cus-blog-slider mb-0">
            <owl-carousel-o [options]="blogCustomOptions">
                <ng-container *ngFor="let list of productList">
                    <ng-template carouselSlide>
                        <div class="item-box-blog">
                            <div class="carouselimg"> <a routerLink="/pages/blogs-details/{{list._id}}"> <img
                                        loading="lazy" *ngIf="!list.image" src="assets/blogone.jpg" alt=""> <img
                                        loading="lazy" *ngIf="list.image" src="{{product_img_url}}{{list.image}}" alt="">
                                </a> </div>
                            <h5 class="mt-3 font-weight-bolder"> <a
                                    routerLink="/pages/blogs-details/{{list._id}}">{{list.title | titlecase | slice:
                                    0:50}}</a> </h5>
                            <!-- <div class="cus-blog-dis">
                                <p innerHtml="{{list.description | slice: 0:100}}"></p>
                            </div> -->
                            <!-- <div class="mt-3 cus-blog-link"> <a routerLink="/pages/blogs-details/{{list._id}}">Read
                                    More <div class="mt-1 d-inline"> <span> >> </span> </div></a> 
                            </div> -->
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</section>

<section class="cus-blog-slider">
    <div class="container pb-3" > <!--*ngIf="blogListTotalCount <=3" -->
        <div class="col-sm-12 text-center m-b-2">
            <h2 class="text-uppercase font-weight-bolder">{{'homeContent.services' | translate}}</h2> <span class="cus-tit-bor"></span>
        </div>
       <div class="row">
            <div *ngFor="let list of serviceList" class="col-md-4">
                <div class="item-box-blog">
                    <!-- <div class="carouselimg"> 
                        <a routerLink="/pages/blogs-details/{{list._id}}"> 
                            <img loading="lazy" *ngIf="!list.image" src="assets/blogone.jpg" alt=""> 
                            <img loading="lazy" *ngIf="list.image" src="{{product_img_url}}{{list.image}}" alt="">
                        </a> 
                    </div> -->
                    <div class="media">
                        <div class="media-icon-part carouselimg">
                            <div class="feature-box-image rounded-circle fbox-img-overlay-zoomin">
                                <img   class="img-fluid" src="{{service_img_url}}{{list.image}}" alt="{{list.title}}">
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="feature-box-title">
                                <a href="/nova-agritech/services/agriclinic-magazine/" title="{{list.title}}" target="_blank">
                                    {{list.title}}
                                </a>
                            </h4>
                            <div class="feature-box-btn">
                                <a class="minebtn bg-none" href="/nova-agritech/services/agriclinic-magazine/" title="Know more">
                                    Know more
                                </a>
                            </div>
                        </div>
                    </div>
                            
                </div>
            </div>
       </div>
    </div>
    <div class="container p-t-2 p-b-2" > <!-- *ngIf="blogListTotalCount > 3"-->
        <div class="col-sm-12 text-center m-b-2">
            <h2 class="text-uppercase font-weight-bolder"> {{'homeContent.event_news' | translate}} </h2> <span class="cus-tit-bor"></span>
        </div>
        <div class="col-sm-12 cus-slt-cat p-4 cus-blog-slider mb-0">
            <owl-carousel-o [options]="blogCustomOptions">
                <ng-container *ngFor="let slide of blogList">
                    <ng-template carouselSlide>
                        <div class="item-box-blog">
                            <div class="blogimg"> <a routerLink="/pages/blogs-details/{{slide._id}}"> <img
                                        loading="lazy" *ngIf="!slide.image" src="assets/blogone.jpg" alt=""> <img
                                        loading="lazy" *ngIf="slide.image" src="{{BLOGIMAGE}}{{slide.image}}" alt="">
                                </a> </div>
                            <h5 class="mt-3 font-weight-bolder"> <a
                                    routerLink="/pages/blogs-details/{{slide._id}}">{{slide.title | titlecase | slice:
                                    0:50}}</a> </h5>
                            <div class="cus-blog-dis">
                                <p innerHtml="{{slide.description | slice: 0:100}}"></p>
                            </div>
                            <div class="mt-3 cus-blog-link"> 
                                <a routerLink="/pages/blogs-details/{{slide._id}}">Read
                                    More <div class="mt-1 d-inline"> <span> >> </span> </div>
                                </a> 
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</section>