input.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.cus-lin {
  border-left: 1px solid #72838c;
  height: inherit;
  width: 1px;
}
.cus-chat-user {
  width: 100%;
  height: 50px;
  box-shadow: 0 0 4px rgb(204 204 204 / 80%);
  border-radius: 5px;
  align-items: center;
}
.cus-chat-list {
  flex-direction: column;
  width: 100%;
  height: 72vh;
  overflow-y: auto;
  padding-top: 10px;
}
.cus-tm-btn {
  margin: 0 5px;
  background: 0 0;
  border: none;
}
.cus-unblock-btn {
  padding: 0 12px;
  border-radius: 30px;
  background: #18568a;
  border: 0.13rem solid #18568a;
  color: #fff !important;
  font-size: 12px;
  line-height: 30px;
  outline: 0 !important;
  display: inline-block;
}
.cus-chat-container {
  padding: 10px 0;
}
.form-control:focus {
  outline: 0 !important;
}
.img-fluid {
  width: 15%;
  border-radius: 50%;
}
.cus-dis-none {
  height: 50px;
  width: 95%;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 32px 10px;
  margin: 5px 0 5px 2px;
  border-radius: 8px;
  box-shadow: 0 0 4px rgb(204 204 204 / 80%);
}
.cus-dis-none:hover {
  background-color: #49505729;
}
li.cus-dis-none.active {
  background: #d1d1d1d1;
  color: #fff;
}
#internalChat .mat-radio-checked {
  background: #30323dd1;
  color: #fff;
}
.p0 {
  padding: 0;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
p {
  margin: 0;
}
.mat-mini-fab {
  height: 23px !important;
  width: 20px !important;
  line-height: 10px !important;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.cus-wt-shasow {
  padding: 1px 0 1px 15px;
}
.cus-wt-shasow {
  padding: 15px 25px;
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 20%), 0 1px 4px 0 rgb(0 0 0 / 19%);
  background: #fff;
  height: auto;
  border-radius: 10px;
}
.cus-chat-area {
  width: 66%;
}
.cus-logo-position {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.cus-chat-user-header {
  height: 65px;
  -webkit-box-shadow: 0 8px 6px -6px rgb(204 204 204 / 80%);
  -moz-box-shadow: 0 8px 6px -6px rgb(204 204 204 / 80%);
  box-shadow: 0 8px 6px -6px rgb(204 204 204 / 80%);
  display: flex;
  align-items: center;
  padding: 0 25px;
}
.cus-selected-user-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.cus-selected-user-name {
  margin: 0 20px;
}
.cus-chat-message-area {
  height: 69vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background: #f6f6f682;
  box-shadow: inset 0 -8px 6px -8px rgb(204 204 204 / 80%);
  margin-right: -19px;
}
.attachment {
  cursor: pointer;
}
.cus-chat-footer {
  display: flex;
  height: auto;
  padding-top: 10px;
  align-items: center;
  justify-content: space-evenly;
  /* position: absolute;
  bottom: 0;
  width: 63%; */
}
button.cus-send-btn {
  background: #005aa4 !important;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
}
.cus-type-field {
  width: 80% !important;
}
.cus-send-btn:active {
  outline: 0;
}
.cus-attachment-btn {
  background: #e5e5e5;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
}
.attachment {
  background: #e5e5e5;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.cus-attachment-btn:focus {
  outline: 0;
}
.cus-hover-button {
  display: none;
}
.cus-dis-none:hover .cus-hover-button {
  display: inline-block;
}
.cus-chat-list-count {
  background: #297eb3;
  padding: 0 66%;
  border-radius: 50%;
  margin-left: 0;
  color: #fff;
}
.cus-last-msg {
  font-size: 12px;
  font-weight: 200;
}
.cus-chat-document {
  top: 0;
  display: flex;
  justify-content: flex-start;
  padding-left: 7.5%;
}
.cus-chat-document_1 {
  top: 0;
  display: flex;
  justify-content: flex-start;
  padding-left: 10%;
}
.cus-dash-section {
  position: relative;
  margin-top: 92px;
}
.cus_grp_img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.cus-radus {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.cus-chat-user-name {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75%;
}
.cus-chat-date {
  font-size: 12px;
}

.doc-box {
  padding: 10px;
  border: 1px solid #a7a7a7;
  border-radius: 4px;
  margin-top: 10px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 88%;
  box-shadow: 0 0 4px rgb(204 204 204 / 40%);
}
.doc-box_1 {
  padding: 10px;
  border: 1px solid #a7a7a7;
  border-radius: 4px;
  margin-top: 10px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 90%;
  box-shadow: 0 0 4px rgb(204 204 204 / 40%);
}
.chat-doc-box {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  display: flex;
  background: #fff;
  min-width: 280px;
  cursor: pointer;
  align-items: center;
  color: #000;
  margin: 15px 10px 10px;
  justify-content: space-between;
  box-shadow: 0 0 4px rgb(239 237 237 / 80%);
}

.cus_chat_share_doc {
  height: 48px;
  width: 48px;
  position: relative;
  top: 5px;
  left: -5px;
}
@media screen and (max-width: 1368px) {
  .cus-chat-list {
    height: 67vh;
  }
  .cus-chat-document {
    top: 0;
    display: flex;
    justify-content: flex-start;
    padding-left: 7.5%;
  }
  .cus-chat-document_1 {
    top: 0;
    display: flex;
    justify-content: flex-start;
    padding-left: 11.5%;
  }
  .doc-box_1 {
    padding: 10px;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    margin-top: 10px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 89%;
    box-shadow: 0 0 4px rgb(204 204 204 / 40%);
  }
}
/* ---------------------------------  CHAT HEADER CSS ----------------------------------------------    */

.heads li {
  padding: 0 6px;
  margin: 0 10px;
}
.heads li a,
ul.navbar-nav.heads > li > .dropdown > button {
  font-size: 14px !important;
  cursor: pointer;
}
.heads li a > i,
ul.navbar-nav.heads > li > .dropdown > button > i {
  font-weight: 800;
    font-size: 18px;
    color: #005aa4 !important;
}
.heads li.active > a,
.heads li.active > a > i,
ul.navbar-nav.heads > li:hover > .dropdown > button,
ul.navbar-nav.heads > li:hover > .dropdown > button > i {
  font-weight: 800;
  color: #005aa4 !important;
}
.login-header i {
  font-weight: 800;
  font-size: 16px !important;
  color: #2a6f97 !important;
}
.login-header a {
  color: #000 !important;
}
.icons-noti {
  color: #fff;
  background: red;
  border-radius: 50%;
  font-size: 13px;
  position: absolute;
  top: -4px;
  left: -7px;
  width: 17px;
  display: flex;
  height: 17px;
  align-items: center;
  justify-content: center;
}
.dropdown-toggle.noti::after {
  opacity: 0;
}
button.dropdown-toggle.dis {
  color: #0c0c0c;
}
@media (max-width: 768px) {
  .heads li {
    margin-top: 11px;
    margin-left: 3px;
  }
  .heads button {
    padding: 0;
  }
  .heads i {
    margin-right: 10px;
  }
  a{
    color: #000 !important;
  }
}
.dropdown-toggle::after {
  content: none !important;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.cus-e-comm-header {
  background: #fff;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 5px rgb(0 0 0 / 23%);
}
.cus-dash-logo {
  margin: 5px 0;
}
.cus-dash-logo img {
  width: 55px;
  margin: 0;
}
button {
  background: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.profile-updation {
  padding: calc(31px / 2) 20px calc(31px / 2) 57px !important;
  text-align: left !important;
  position: relative;
  background-color: #fafbfd;
  border: 1px solid #f1f3fa;
  border-width: 0 1px;
  min-height: 70px;
  margin: 0 0 0 10px;
  position: relative;
}
span.account-user-avatar.ml-1 {
  position: absolute;
  top: calc(38px / 2);
  left: 15px;
}
span.account-user-name {
  font-size: 15px;
  display: block;
  color: #6c757d;
  font-weight: 600;
}
.notiDrop {
  transform: translate3d(-200px, 38px, 0px) !important;
}
.icons-noti-seller {
  color: #fff;
  background: red;
  border-radius: 50%;
  font-size: 13px;
  position: absolute;
  top: -4px;
  left: -7px;
  width: 17px;
  display: flex;
  height: 17px;
  align-items: center;
  justify-content: center;
}

.userName{
  padding: 8px !important;
    font-size: 15px !important;
    /* display: block; */
    color: #6c757d !important;
    font-weight: 600 !important;

}
