<div class="container row">
    <div class="w-100"> 
        <a style="position: relative;top: 25px;left: 25px;" [routerLink]="['/']">
            <img src="assets/Gauri_mata_new.png"  class="cus-login-logo"/>
        </a> 
    </div>
    <div class="w-50" style="vertical-align:center;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%); z-index: -1;"> <img src="assets/pagenotfound.jpg" class="w-50"> 
    </div>
    <div class="clear"></div>
    <div class="w-100"> 
        <a style="background: #439041;color: #fff !important;position: absolute;bottom: 15%;left: 0;right: 0;margin: 0 auto;width: 150px;text-align: center;" [routerLink]="['/']" class="btn">Back Home
        </a> 
    </div>
</div>