<section class="bgimg" id="gapbtw">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12">
        <div class="text-white">
          <h1> {{ 'home_trip_planner.heading_1' | translate }} </h1>
          <p class="text-white" innerHtml="{{ 'home_trip_planner.first_content' | translate }}"> </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="gapbtw">
  <div class="container">
    <div class="row">
      <div class=" col-sm-6 d-flex align-items-center extrawidth">
        <div>
          <h1 class="mb-3 text-dark"> {{ 'home_trip_planner.heading_2' | translate }} </h1>
          <p> {{ 'home_trip_planner.second_content' | translate }} </p>
          <div class="row">
            <div class="col-sm-4 mb-3 widthintab">
              <div class="card text-center card-body">
                <div class="text-center mb-3">
                  <img src="../../../assets/icons/wazemap.png" width="50px" height="50px">
                </div>
                <p class="card-title">{{ 'home_trip_planner.second_content_features.Waze_Map' | translate }}</p>
              </div>
            </div>
            <div class="col-sm-4 mb-3 widthintab">
              <div class="card text-center card-body">
                <div class="text-center mb-3">
                  <img src="../../../assets/icons/trip.png" width="50px">
                </div>
                <p class="card-title">{{ 'home_trip_planner.second_content_features.Trip_Plan' | translate }}</p>
              </div>
            </div>
            <div class="col-sm-4 mb-3 widthintab">
              <div class="card text-center card-body">
                <div class="text-center mb-3">
                  <img src="../../../assets/icons/markers.png" width="50px">
                </div>
                <p class="card-title">{{ 'home_trip_planner.second_content_features.Markers' | translate }}</p>
              </div>
            </div>
            <div class="col-sm-4 mb-3 widthintab">
              <div class="card text-center card-body">
                <div class="text-center mb-3">
                  <img src="../../../assets/icons/live.png" width="50px" height="50px">
                </div>
                <p class="card-title">{{ 'home_trip_planner.second_content_features.Live_GPS' | translate }}</p>
              </div>
            </div>
            <div class="col-sm-4 mb-3 widthintab">
              <div class="card text-center card-body">
                <div class="text-center mb-3">
                  <img src="../../../assets/icons/weather.png" width="50px" height="50px">
                </div>
                <p class="card-title">{{ 'home_trip_planner.second_content_features.Weather_Forecast' | translate }}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-6 extrawidth cus_imgers">
        <div class="text-center mb-2 ">
          <img src="../../../assets/Group 62.png" class="img-fluid hiddenimg">
        </div>

      </div>
    </div>
  </div>
</section>
<section style=" background-color: #ebf6ff;" id="gapbtw">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 extrawidth">
        <div class="text-center mb-3">
          <img src="../../../assets/Group 56.png" class="img-fluid">
        </div>
      </div>
      <div class="col-sm-7 extrawidth d-flex align-items-center">
        <div>
          <h1 class="mb-3" class='text-dark'>{{ 'home_trip_planner.heading_3' | translate }}</h1>
          <p>{{ 'home_trip_planner.third_content' | translate }}</p>
          <div class="row">
            <div class="col-sm-3 mb-3 widthintab">
              <div class="card text-center card-body">
                <div class="text-center mb-3">
                  <img src="../../../assets/icons/road.png" width="50px" height="50px">
                </div>
                <p class="card-title">{{ 'home_trip_planner.third_content_features.Road_Object' | translate }}</p>
              </div>
            </div>
            <div class="col-sm-3 mb-3 widthintab">
              <div class="card text-center card-body">
                <div class="text-center mb-3">
                  <img src="../../../assets/icons/closer.png" width="50px" height="50px">
                </div>
                <p class="card-title">{{ 'home_trip_planner.third_content_features.Closure' | translate }}</p>
              </div>
            </div>
            <div class="col-sm-3 mb-3 widthintab">
              <div class="card text-center card-body">
                <div class="text-center mb-3">
                  <img src="../../../assets/icons/crash.png" width="50px" height="50px">
                </div>
                <p class="card-title">{{ 'home_trip_planner.third_content_features.Crash' | translate }}</p>
              </div>
            </div>
            <div class="col-sm-3 mb-3 widthintab">
              <div class="card text-center card-body">
                <div class="text-center mb-3">
                  <img src="../../../assets/icons/hazard.png" width="50px" height="50px">
                </div>
                <p class="card-title">{{ 'home_trip_planner.third_content_features.Hazard' | translate }}</p>
              </div>
            </div>
            <div class="col-sm-3 mb-3 widthintab">
              <div class="card text-center card-body">
                <div class="text-center mb-3">
                  <img src="../../../assets/icons/police.png" width="50px" height="50px">
                </div>
                <p class="card-title">{{ 'home_trip_planner.third_content_features.Police' | translate }}</p>
              </div>
            </div>
            <div class="col-sm-3 mb-3 widthintab">
              <div class="card text-center card-body">
                <div class="text-center mb-3">
                  <img src="../../../assets/icons/traffic.png" width="50px" height="50px">
                </div>
                <p class="card-title">{{ 'home_trip_planner.third_content_features.Traffic' | translate }}</p>
              </div>
            </div>
            <div class="col-sm-3 mb-3 widthintab">
              <div class="card text-center card-body">
                <div class="text-center mb-3">
                  <img src="../../../assets/icons/block.png" width="50px" height="50px">
                </div>
                <p class="card-title">{{ 'home_trip_planner.third_content_features.Road_Block' | translate }}</p>
              </div>
            </div>
            <div class="col-sm-3 mb-3 widthintab">
              <div class="card text-center card-body">
                <div class="text-center mb-3">
                  <img src="../../../assets/icons/station.png" width="50px" height="50px">
                </div>
                <p class="card-title">{{ 'home_trip_planner.third_content_features.Weigh_Station' | translate }}</p>
              </div>
            </div>
            <div class="col-sm-3 mb-3 widthintab">
              <div class="card text-center card-body">
                <div class="text-center mb-3">
                  <img src="../../../assets/icons/help.png" width="50px" height="50px">
                </div>
                <p class="card-title">{{ 'home_trip_planner.third_content_features.Roadside_Help' | translate }}</p>
              </div>
            </div>
            <div class="col-sm-3 mb-3 widthintab">
              <div class="card text-center card-body">
                <div class="text-center mb-3">
                  <img src="../../../assets/icons/worj.png" width="50px" height="50px">
                </div>
                <p class="card-title">{{ 'home_trip_planner.third_content_features.Roadside_work' | translate }}</p>
              </div>
            </div>
            <div class="col-sm-3 mb-3 widthintab">
              <div class="card text-center card-body">
                <div class="text-center mb-3">
                  <img src="../../../assets/icons/vehicle.png" width="50px" height="50px">
                </div>
                <p class="card-title">{{ 'home_trip_planner.third_content_features.Staller_Vehicle' | translate }}</p>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section id="gapbtw">
  <div class="container">
    <div class="row">
      <div class="col-sm-6  d-flex align-items-center">
        <div>
          <h1 class="text-dark">{{ 'home_trip_planner.heading_4' | translate }}</h1>
          <p>{{ 'home_trip_planner.forth_content' | translate }}</p>

        </div>
      </div>
      <div class="col-sm-6">
        <img src="../../../assets/Group 60.png" class="img-fluid">

      </div>
    </div>
  </div>
</section>