
<ngx-spinner class="cusSpinner">
    <div class="loader-wrapper">
        <div class="truck-wrapper">
        <div class="truck">
            <div class="truck-container"></div>
            <div class="glases"></div>
            <div class="bonet"></div>
            <div class="base"></div>
            <div class="base-aux"></div>
            <div class="wheel-back"></div>
            <div class="wheel-front"></div>
            <div class="smoke"></div>
        </div>
        </div>
    </div>
</ngx-spinner>
<section class="mob-top-spc">
  <div class="container">
    <div class="col-sm-12 text-center mb-4 pt-2 pb-2">
        <h2 class="text-uppercase">{{ 'labels.service.heading' | translate }}</h2>
        <span class="cus-tit-bor"></span>
      </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="view-service cus-round-with-bg">
          <img src="{{ SERVICEIMAGE + Creatobj.serviceImage }}" alt="img" class="w-100" />
          <div class="p-3">
            <h4 class="mt-3">
              {{ Creatobj.serviceName | titlecase}}
            </h4>
          <p><strong>{{ 'labels.service.service_cost' | translate }}</strong> : {{Creatobj.currency}} {{Creatobj.serviceCost | currency }}</p>
            <p><strong>{{ 'labels.service.phone_number' | translate }} </strong> : +1 ({{Creatobj.contactNumber | slice:0:3}})-{{Creatobj.contactNumber | slice:3:6}}-{{Creatobj.contactNumber | slice:6:10}}</p>
            <p><strong>{{ 'labels.service.location' | translate }}</strong> : {{Creatobj.address }}</p>
            <p class="mt-3 cus-text-brack">
              <strong>{{ 'labels.service.description' | translate }}</strong> : {{ Creatobj.description }}
            </p>
            <a routerLink="/layout/myaccount/service/updateservice/{{ this.serviceId }}" class="btn common-btn" *ngIf="this.roleName == 'COMPANY'">Edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
