<ngx-spinner class="cusSpinner">
  <div class="loader-wrapper">
    <div class="gaurimata-wrapper">
      <div class="gaurimata">
        <div class="gaurimata-container"></div>
        <div class="glases"></div>
        <div class="bonet"></div>
        <div class="base"></div>
        <div class="base-aux"></div>
        <div class="wheel-back"></div>
        <div class="wheel-front"></div>
        <div class="smoke"></div>
      </div>
    </div></div
></ngx-spinner>
<section class="cus-sidemenu-with-profile">
  <div class="container">
    <div class="row">
      
    </div>
  </div>
</section>
