<ngx-spinner class="cusSpinner">
    <div class="loader-wrapper">
        <div class="truck-wrapper">
        <div class="truck">
            <div class="truck-container"></div>
            <div class="glases"></div>
            <div class="bonet"></div>
            <div class="base"></div>
            <div class="base-aux"></div>
            <div class="wheel-back"></div>
            <div class="wheel-front"></div>
            <div class="smoke"></div>
        </div>
        </div>
    </div>
</ngx-spinner>
<section class="cus-event-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 p-0">
        <div class="modal-content">
          <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="created">
            <div class="cus-round-with-bg pb-4">
              <div class="modal-body p-0">
                <div class="cus-upload">
                  <div class="col-sm-12 cus-cover-img p-l-0 p-r-0">
                    <div class="banner"  style="height: 300px; overflow: hidden" *ngIf="!isLoadingBanner ">
                      <img *ngIf="!uploadedBannerImage && !isLoadingBanner" src="assets/Truck-banne-bg.png" class="img-fluid" class="banner-common-height" />
                      <img *ngIf="uploadedBannerImage  && !isLoadingBanner" src="{{ banner_img_path }}{{ uploadedBannerImage }}" class="img-fluid" class="banner-common-height"/>
                    </div>
                    <div class="col-12 d-flex justify-content-center align-items-center my-5" >
                      <mat-progress-bar  *ngIf="isLoadingBanner " class="example-margin" [color]="'primary'" [mode]="'indeterminate'" #spinner>
                      </mat-progress-bar>
                     </div>
                  <div class="float-right cus-edit-cover-icon" *ngIf="!isLoadingBanner">
                      <input required type="file" class="fa fa-pencil" title="" (change)="fileChangeEvent($event)" (click)="InputFile.value = null" #InputFile  accept="image/*" />
                      <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
                      <div id='open-diaLog' data-toggle="modal" data-target="#banner-image-dialog"></div>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="cus-profile-img">

                      <div class="cus-for-profile" *ngIf="!isLoadingLogo">
                        <img *ngIf="!uploadedBrandLogo && !isLoadingLogo" src="assets/Truck-banne-profile.png" class="img-fluid" />
                        <img *ngIf="uploadedBrandLogo && !isLoadingLogo" src="{{ brandLogo_path }}{{ uploadedBrandLogo }}" />
                      </div>
                      <div class="d-flex justify-content-center align-items-center" *ngIf="isLoadingLogo">
                        <mat-spinner [diameter]="35"></mat-spinner>
                       </div>
                    </div>
                    <div class="cus-edit-profile-icon" *ngIf="!isLoadingLogo">
                      <input required type="file" class="fa fa-pencil" title="" (change)="logoChangeEvent($event)" (click)="myInputFile.value = null" #myInputFile  accept="image/*" />
                      <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
                      <div id='open-diaLog-logo' data-toggle="modal" data-target="#logo-image-dialog"></div>
                    </div>
                  </div>
                </div>

                <div class="event-name">
                  <div class="col-sm-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> {{ 'form_lables.event.event_name' | translate }} </mat-label>
                      <input required type="text" formControlName="name" matInput required  maxlength="50"/>
                      <mat-error *ngIf="eventForm.get('name').hasError('required')">Please enter event name </mat-error>
                      <mat-error *ngIf="eventForm.get('name').hasError('pattern')"> Invalid name </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>{{ 'form_lables.event.timezone' | translate }}</mat-label>
                      <mat-select formControlName="timezoneId" required (selectionChange)='calcTime(timeZoneList)'>
                        <mat-option *ngFor="let list of timeZoneList" [value]="list._id" > {{ list.name }} </mat-option>
                      </mat-select>
                      <mat-error *ngIf="eventForm.get('timezoneId').hasError('required')">Please select timezone </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-12  common_CK_editior mb-4">
                    <ckeditor 
                    [editor]="editor" 
                    formControlName="description"
                     required 
                     class="cus-job-diss"
                     data-maxlength="5"
                      
                     ></ckeditor>
                    <mat-error style="font-size: 75%;" *ngIf="eventForm.get('description').hasError('required') && eventForm.get('description').touched"> Please enter  Description </mat-error>
                  
                  </div>
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-6">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>{{ 'form_lables.event.start_date' | translate }}</mat-label>
                          <input
                            (click)="pickerStartDate.open()"
                            (focus)="pickerStartDate.open()"
                            matInput
                            readonly  
                            [ngxMatDatetimePicker]="pickerStartDate"
                            formControlName="startDate"
                            [min]="min"
                            [max]="maxDate"
                            [disabled]="disabled"
                            required
                            (dateChange)="change()"
                          />
                          <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                          <ngx-mat-datetime-picker
                            #pickerStartDate
                            [showSpinners]="showSpinners"
                            [showSeconds]="showSeconds"
                            [stepHour]="stepHour"
                            [stepMinute]="stepMinute"
                            [stepSecond]="stepSecond"
                            [touchUi]="touchUi"
                            [color]="color"
                            [enableMeridian]="enableMeridian"
                           
                          >
                          </ngx-mat-datetime-picker>
                          <mat-error *ngIf="eventForm.get('startDate').hasError('required')">Please enter event start date </mat-error>
                        </mat-form-field>
                        <small *ngIf='timeZone?.name && eventForm.value?.startDate' >( {{ timeZone?.name  }} :- {{startTimeDis }} ) </small>
                      </div>

                      <div class="col-sm-6">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>{{ 'form_lables.event.end_date' | translate }}</mat-label>
                          <input
                            readonly
                            matInput
                            (click)="pickerEndDate.open()"
                            (focus)="pickerEndDate.open()"
                            [ngxMatDatetimePicker]="pickerEndDate"
                            formControlName="endDate"
                            [min]="min"
                            [max]="maxDate"
                            [disabled]="disabled"
                            required
                            (dateChange)="change()"
                          />
                          <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                          <ngx-mat-datetime-picker
                            #pickerEndDate
                            [showSpinners]="showSpinners"
                            [showSeconds]="showSeconds"
                            [stepHour]="stepHour"
                            [stepMinute]="stepMinute"
                            [stepSecond]="stepSecond"
                            [touchUi]="touchUi"
                            [color]="color"
                            [enableMeridian]="enableMeridian"
                          >
                          </ngx-mat-datetime-picker>
                          <mat-error *ngIf="eventForm.get('endDate').hasError('required')">Please enter event end date</mat-error>
                        </mat-form-field>
                        <small *ngIf='timeZone?.name && eventForm.value?.endDate' >( {{ timeZone?.name  }} :- {{endTimeDis }} ) </small>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>{{ 'form_lables.event.speaker' | translate }}</mat-label>
                      <input required type="text" formControlName="speaker" matInput required maxlength="50" />
                      <mat-error *ngIf="eventForm.get('speaker').hasError('required')"> Please enter speaker name </mat-error>
                      <mat-error *ngIf="eventForm.get('speaker').hasError('pattern')"> Please enter valid speaker name </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-4">
                        <mat-form-field style="width: 100%" class="example-full-width" appearance="outline">
                          <mat-label>{{ 'form_lables.event.Select_curr' | translate }} <span>*</span></mat-label>
                            <mat-select  formControlName="currency" class="p-0" placeholder="select miles">
                                <mat-option *ngFor="let list of currency"  value="{{ list.currency }}" >
                                  {{ list.currency }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="eventForm.get('currency').hasError('required')">Please select currency </mat-error>
                         </mat-form-field>
                      </div>
                      <div class="col-sm-8">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>{{ 'form_lables.event.event_fee' | translate }}</mat-label>
                          <input matInput formControlName="eventFee" required />
                          <mat-error *ngIf="eventForm.get('eventFee').hasError('required')"  > Please enter event fee </mat-error>
                        </mat-form-field>
                      </div>
                      </div>
                  </div>    
                  
                  <div class="col-sm-12">
                    <mat-form-field style="width: 100%" class="example-full-width" appearance="outline">
                      <mat-label>{{ 'form_lables.event.visibility' | translate }}</mat-label>
                      <mat-select formControlName="visibility" required>
                        <mat-option *ngFor="let eventlist of eventTypesList" value="{{ eventlist.Type }}">
                          {{ eventlist.Type }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="eventForm.get('visibility').hasError('required')"> Please select visibility </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-12">
                    <mat-label>{{ 'form_lables.event.location' | translate }}</mat-label>
                    <section class="example-section">
                      <mat-checkbox class="example-margin" color="primary" (change)="setOnlineEventValue($event)">{{ 'form_lables.event.is_virtual' | translate }}</mat-checkbox>
                    </section>
                  </div>

                  <div [style.display]="!onlineEvent ? 'block' : 'none'">
                    <div class="col-sm-12">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label class="cus-log-lab">{{ 'form_lables.event.address' | translate }}</mat-label>
                        <input matInput formControlName="address" #search   />
                        <mat-error *ngIf="eventForm.get('address').hasError('pattern')"> Unwanted space </mat-error>
                        <mat-error *ngIf="eventForm.get('address').hasError('required')">Please enter address </mat-error>
                        
                      </mat-form-field>

                    </div>

                    <div class="col-sm-12">

                      <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label class="cus-log-lab">{{ 'form_lables.event.venue' | translate }}</mat-label>
                        <input matInput formControlName="venue" maxlength="30"   />
                        <mat-error *ngIf="eventForm.get('venue').hasError('pattern')">Invalid venue name</mat-error>
                        <mat-error *ngIf="eventForm.get('venue').hasError('required')">Please enter venue </mat-error>

                      </mat-form-field>
                    
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12" *ngIf="onlineEvent == true">
                
                <mat-form-field class="example-full-width" appearance="outline">
                  <input 
                  type='url' 
                  matInput 
                  formControlName="brodcastLink"
                  placeholder="{{ 'form_lables.event.event_link' | translate }}"
                  [(ngModel)]="brodcastLink"
                    />
                    <mat-error *ngIf="eventForm.get('brodcastLink').hasError('required')">Please enter url </mat-error>
                    <mat-error *ngIf="eventForm.get('brodcastLink').hasError('pattern')"> Please enter valid url </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-12 text-right">
                <a class="btn common-btn m-2" routerLink="/layout/myaccount/event-management" >{{ 'buttons.back' | translate }}</a>
                <button class="btn common-btn m-2" type="submit">{{ 'buttons.create' | translate }}</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- banner image -->
<div class="modal" id="banner-image-dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
      <strong>  <h5>Edit Banner Image</h5></strong>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body ">
        <div class="d-flex justify-content-center align-items-center my-2" *ngIf="isLoading">
          <mat-progress-bar class="example-margin" [color]="'primary'" [mode]="'indeterminate'"  #spinner>
          </mat-progress-bar>
         </div>
        <div #cropContainer class='image_cropper' style="display: block; width: 600px;max-height:60%; margin: auto;">
          <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [cropperMinHeight]="10600"
          [cropperMinWidth]="10800"
          [cropperMaxHeight]="700"
          [cropperMaxWidth]="799"
          [aspectRatio]="8 / 3"
          [resizeToHeight]="300"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
        </div>

      </div>
      <div class='col-md-12 text-right mt-2 mb-2'>
        <button class='btn common-btn' data-dismiss="modal" (click)='uploadBannerImage()'>Upload</button>
      </div>
    </div>
  </div>
</div>

<!-- profile logo -->
<div class="modal" id="logo-image-dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
      <strong>  <h5>Edit Image</h5></strong>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body ">
        <div class="d-flex justify-content-center align-items-center my-2" *ngIf="isLoading">
          <mat-progress-bar class="example-margin" [color]="'primary'" [mode]="'indeterminate'"  #spinner>
          </mat-progress-bar>
         </div>
        <div #cropContainer class='image_cropper' style="display: block; width: 600px;max-height:60%; margin: auto;" >
          <image-cropper
          [imageChangedEvent]="logoChangedEvent"
          [maintainAspectRatio]="true"
          [roundCropper]='true'
          [cropperMinHeight]="10600"
          [cropperMinWidth]="10800"
          [cropperMaxHeight]="700"
          [cropperMaxWidth]="799"
          [hideResizeSquares]="true"
          [aspectRatio]="4 / 4"
          [resizeToHeight]="300"
          format="png"
          (imageCropped)="logoCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
        </div>
      </div>
      <div class='col-md-12 text-right mt-2 mb-2'>
        <button class='common-btn btn' data-dismiss="modal" (click)='uploadBrandLogo()'>Upload</button>
      </div>
    </div>
  </div>
</div>
