<section class="mob-top-spc">
    <div class="container mt-4">
        <div class="col-sm-12 text-center mb-2 pt-2 pb-2">
            <h2 class="text-uppercase">{{'About_us_sec.heading' | translate}}</h2> <span class="cus-tit-bor"></span>
        </div>
        <p>{{'About_us_sec.content_1_a' |
            translate}}<!-- Mytruck.one is an incredibly advance and technologically developed trucking platform & app that can contribute in boosting your trucking business. It is a platform with multifarious uses and features integrated within it. We offer trustworthy and client oriented services. Go for the Mytruck.one for unique trucking experience. -->
        </p>
        <p>{{'About_us_sec.content_1_b' |
            translate}}<!-- Users can book events, apply jobs , buy/rent/lease a truck , trailer & Tractor unit (used/new) , can buy accessories , spare parts (used/new). Seller can add any new/old truck/trailer/tractor unit/accessories/spare parts to sell/rent/lease. You can also plan trip with the help of trip planner that serves as a route guide according to the size, weight of the trailer, it will be predictive of any roadblocks expected on the way, so that the route can be altered and goods can be delivered timely. We provide the best truck route maps & truck gps navigation for drivers & companies to assist in load trips. -->
        </p>
        <p>{{'About_us_sec.content_1_c' |
            translate}}<!-- E-commerce service facilitates you buying/selling & rental services , here you can purchase truck/ trailer online, rent a truck, lease a truck/trailer, sell truck trailer online, you will have access to truck accessories(new or used), truck spare parts(new or used) etcs you can sell new or used trucks/ trailers etc. This is a customized section that can help to boost your business sales and aids you in reaching the pinnacle of success. -->
        </p>
    </div>
</section>
<section class="trust">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-title clearfix">
                    <h3>{{'About_us_sec.sub_head' | translate}}</h3>
                    <p class="about-paddingB">{{'About_us_sec.content_2_a' |
                        translate}}<!-- Mytruck.one facilitates you with wide range of services pertaining to truck , trailer and truck accessories. Here you can search and choose truck services as per your load requirement. It is an incomparable platform designed with novelty , its uniqueness lies in its futuristic approach as here you can post a job, schedule events related to truck and add services offered too. -->
                    </p>
                    <p>{{'About_us_sec.content_2_b' |
                        translate}}<!-- Mytruck.one is the one stop solution to all the needs of trucking Industry from Buying a truck to assisting your driver for the best route. Or goal is to provide jobs to drivers, assisting companies in planning trip & deciding route, organizing events as well as the buying/selling/leasing services for every stakeholder in the industry. -->
                    </p>
                    <div class="about-icons"> </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right"> <img src="assets/SERVICE3.png" /> </div>
                <div class="about-info">
                    <p style="color: #fff !important">{{'About_us_sec.img_cnt' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</section>