<section class="mob-top-spc">
    <div class="container mt-4">
        <div class="col-sm-12 text-center mb-2 pt-2 pb-2">
            <h2 class="text-uppercase">{{'About_us_sec.heading' | translate}}</h2> <span class="cus-tit-bor"></span>
        </div>
        <p>{{'About_us_sec.content_1_a' |
            translate}}
        </p>
        <p>{{'About_us_sec.content_1_b' |
            translate}}
        </p>
        <h2 class="h2 text-dark" [innerHtml]="'About_us_sec.What_We_Do_Heading' | translate"> </h2>
        <p>
            Sustainable Farming Practices -Promoting eco-friendly and resource-efficient farming methods.
            <br />
            Modern Agri-Solutions - everaging technology and innovation to improve productivity.
            <br />
            Quality Produce & Services - Delivering fresh, safe, and reliable agricultural products.
            <br />
            Community Growth - Empowering farmers through training, education, and fair trade.
        </p>
        <h2 class="h2 text-dark" [innerHtml]="'About_us_sec.our_mision' | translate"> </h2>
        <p>{{'About_us_sec.our_mission_desc' | translate}}</p>
        <h2 class="h2 text-dark" [innerHtml]="'About_us_sec.our_vision' | translate"> </h2>
        <p>{{'About_us_sec.our_vision_desc' | translate}}</p>
    </div>
</section>
