.min-hei {
    min-height: 325px;
}

.trip-bottom-border {
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 7px;
}

.btn.common-btn {
    font-weight: 500;
    color: #33465e !important;
}

.cus_wid {
    width: 221px;
    display: inline-block;
    margin-left: 15px;
}

.staticCus_wid {
    width: 180px;
    display: inline-block;
    margin-left: 15px;
}

.tripdetail {
    flex-basis: 100% !important;
    align-items: center !important;
    display: flex !important;
  }


.multidestination {
    margin-left: 14px;
    color: #6c6c6c;
}