<ngx-spinner class="cusSpinner">
  <div class="loader-wrapper">
    <div class="truck-wrapper">
      <div class="truck">
        <div class="truck-container"></div>
        <div class="glases"></div>
        <div class="bonet"></div>
        <div class="base"></div>
        <div class="base-aux"></div>
        <div class="wheel-back"></div>
        <div class="wheel-front"></div>
        <div class="smoke"></div>
      </div>
    </div>
  </div>
</ngx-spinner>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center mt-4 mb-2 mob-top-spc">
        <h2 class="text-uppercase">INSTALLMENT PLAN</h2>
        <span class="cus-tit-bor"></span>
      </div>
      <div class="col-sm-12">
        <div class="cart">
          <div class="row">
            <div class="col-sm-12 col-md-8">
              <div class="table-responsive">
                <table class="  table-centered mb-0">
                  <thead class="table-light">
                    <tr>
                      <th class="alignCenter" >Title</th>
                      <th class="alignCenter">Type</th>
                      <th class="alignCenter">Duration</th>
                      <th class="alignCenter">Final Price($)</th>
                      <th class="alignCenter" style="width: 50px"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="list" *ngFor="let plan of planList; let i = index">
                      <td class="alignCenter">
                        <p class="d-inline-block align-middle font-16">
                          <a class="m-0">{{ plan.title }}</a>
                          <br />
                        </p>
                      </td>
                      <td class="alignCenter">
                        <p>{{ plan.plan_name }}</p>
                      </td>
                      <td class="alignCenter">
                        <p>{{ plan.validity }}</p>
                      </td>
                      <td class="alignCenter">
                        <p>{{ plan.finalPrice }}</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div style="background-color: #F2F2F2;">
                <thead class="table-light" >
                  <tr>
                    <th>Grand Total : {{GrandTotal}}</th>
                  </tr>
                </thead>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <table>
                <thead>
                  <tr>
                    <th></th>
                    <th>Installment </th>
                    <th>Interest(pa)</th>
                    <th>Total Pay</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of installmentArr">
                    <td>
                      <mat-radio-button class="example-radio-button" [value]="item.month" (change)="displayObjectValue(item)">
                        
                      </mat-radio-button>
                    </td>
                    <!-- <td>{{item.monthlyPay | currency:'USD'}} x {{ item.month }}m</td>
                    <td>{{ item.totalInterest |currency:'USD'}} <span>(</span> {{item.interestRate}}%  <span>)</span></td>
                    <td>{{ item.totalpay |currency:'USD' }}</td> -->
                    <td>{{item.monthlyPay | currency:'USD'}}</td>
                    <td>{{ item.month}}m </td>
                    <td>{{ item.totalpay |currency:'USD' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
           <div class="col-sm-12">
            <div>
              <button routerLink="/pages/plan-cart" class="btn btn-e-commerce">Back</button>
              <button (click)="payment()" class="btn btn-e-commerce ml-2" [disabled]="!planList?.length">Checkout</button>
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>