section.cart {
    margin-top: 5%;
    background: #fff
}
.container {
    max-width: 1300px !important;
}
.cart .billing.-info {
    border: 1px solid #ccc;
    margin: 21px 0;
    padding: 8px;
    background: #fff;
    border-radius: 10px
}

.cart .billing.-info h4 {
    font-size: 20px;
    font-weight: 600
}

.cart a {
    color: #005aa4 !important
}

.cart .text-center a {
    color: #f4faff !important;
    background: #005aa4;
    padding: 12px 41px;
    margin: 19px 0;
    border-radius: 12px
}

.cart .place-order {
    background: #dff2fc;
    border-radius: 10px;
    padding: 10px 0
}

.cart .place-order .order-summary p {
    text-align: left
}

.cart .place-order .order-summary {
    padding: 30px;
    background: #fff;
    margin: 0 6px
}

.cart .place-order .order-summary h4 {
    color: red
}

.cart h6 {
    font-weight: 600;
    padding: 6px 8px;
    font-size: 17px
}

.cart .complete {
    border-bottom: 3px solid #000
}

.cart .invoice {
    margin: 15px 0
}

.cart .shipping-speed P {
    margin: 0
}

.cart .shipping-speed {
    background: #d2d2d2;
    padding: 10px;
    margin-top: 20px
}

.cart {
    padding: 10px;
    box-shadow: 0 4px 3px 0 rgb(0 0 0 / 20%), 0 6px 11px 0 rgb(0 0 0 / 19%);
    border-radius: 18px;
    margin: 50px 0
}

td img {
    border-radius: .25rem !important;
    width: 35%;
    height: auto
}

tbody tr.list {
    /* border-radius: 50px; */
    background: #fff;
    /* box-shadow: 0 2px 7px #a6a6a6, -5px -12px 3px #fff */
}

.small,
small {
    font-size: 80%;
    font-weight: 400;
    margin: 0 0 0 16px
}

.cart h2.text-uppercase {
    font-size: 26px;
    font-weight: 600;
    color: #005aa4
}

tr.list input.form-control {
    margin: 37px 0 0 0
}

tr.list h5 {
    font-size: 16px;
    font-weight: 500;
    margin: 47px 0 0 0
}

tr.list i.far.fa-trash-alt {
    width: 35px;
    height: 35px;
    background: #b4daf8;
    padding: 9px 10px;
    border-radius: 50%
}

.cus-product-quant {
    width: 100px;
    display: flex;
    border: 1px solid #e7eef3;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 35px
}

.cus-product-quant input {
    width: 100%
}

.cus-dinnc,
.cus-innc {
    background: #e7eef3;
    border: none;
    display: flex;
    font-size: 22px;
    text-align: center;
    align-items: center;
    width: 29px;
    height: 30px;
    justify-content: center;
    cursor: pointer
}

.cus-product-quant>input {
    border: none;
    text-align: center
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px
}

.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%
}

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block
}

.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0
}

.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0
}

.applied_promo {
    background: #005aa4;
    padding: 6px;
    display: inline;
    border-radius: 5px;
    color: #fff !important;
    font-weight: 500
}

.cus-tot-amount {
    padding: 10px;
    display: grid
}

.btn-e-checkOut {
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    background: #005aa4;
    border: none;
    cursor: pointer
}

@media screen and (min-device-width:250px) and (max-device-width:920px) {
    .cus-padding {
        padding-left: 0 !important;
        margin-top: 1em
    }
}

.cus-removepadding {
    padding-left: 0
}

.text-red {
    color: red;
    font-size: 12px;
}


table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #e5e5e5;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }


 .alignCenter{text-align: center}