<section class="cus-home-qequest">
    <div class="container mt-4">
        <div class="col-sm-12 text-center mb-2 pt-2 pb-2">
            <h2 class="text-uppercase">{{'news_event' | translate}}</h2> <span class="cus-tit-bor"></span>
        </div>
        <!-- <h2 class="h2 text-dark" [innerHtml]="'news_event' | translate"> </h2> -->
        <section class="news-container">
            <div class="news-item" *ngFor="let news of newsList; let i = index" [ngClass]="{ 'reverse': i % 2 !== 0 }">
                <!-- Image -->
                <div class="news-image">
                    <img [src]="news.image" [alt]="news.title">
                </div>

                <!-- Content -->
                <div class="news-text">
                    <h2>{{ news.title }}</h2>
                    <p>{{ news.description }}</p>
                </div>
            </div>
        </section>


    </div>
</section>